<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Win32.Registry" version="4.6.0" targetFramework="net48" />
  <package id="MP3Sharp" version="1.0.5" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Device.Gpio" version="1.1.0-prerelease.20276.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net48" />
</packages>